@import "src/common/style-mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
}

.nameAndFilters {
  display: grid;
  grid-template-columns: repeat(2, 130px) 1fr;
  grid-template-rows: auto auto;
  gap: 10px;

  width: 100%;

  text-align: center;

  @media (max-width: 800px) {
    row-gap: 20px;
  }

  @media (max-width: 620px) {
    grid-template-columns: repeat(2, 110px) 1fr;
  }

  @media (max-width: 460px) {
    grid-template-columns: repeat(2, 80px) 1fr;
  }
}

.nameAndButtons {
  grid-column: 1/4;
  grid-row: 1;

  @media (max-width: 800px) {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    margin:0;
  }
}

.filters {
  display: flex;
  column-gap: 25px;
  align-items: flex-end;

  width: 100%;
  height: 42px;
}

.name {

  @include headline2;

  grid-column: 1/4;


  margin: 16px 0 26px 0;

  color: var(--color-primary-dark-100);
  text-align: center;

  @media (max-width: 800px) {
    margin: 0 0 10px 0;
  }

  @media (max-width: 600px) {
    margin:0;
  }
}

.skeletonNameContainer {
  margin: 16px auto 26px auto;

  @media (max-width: 800px) {
    margin: 0 0 10px 0;
  }

  @media (max-width: 600px) {
    margin:0;
  }
}

.skeletonNameContainer .skeletonName, .skeletonPaginationContainer .skeletonPagination {

  @include skeletonBase;
}

.skeletonNameContainer .skeletonName {
  display: inline-block;

  width: 300px;
  height: 25px;

  border-radius: 4px;
}

.skeletonPaginationContainer .skeletonPagination {
  width: 400px;
  height: 34px;
}

.learnIcon {
  width: 16px;
  margin-bottom: 1px;
}

.paginator {
  margin-top: 15px;
}

.searchWrapper {
  grid-column: 3;
  grid-row: 2;

  @media (max-width: 800px) {
    grid-column: 2/4;
  }
}

