@import 'src/common/style-mixins/mixins';

.menuHeader {
  position: relative;
}

.menuList {
  position: absolute;
  z-index: 10;
  top: 36px;
  right: 6px;

  width: max-content;
  padding: 8px 0;

  visibility: hidden;
  opacity: 0;
  background-color: var(--color-background-base);
  clip-path: inset(0% 0% 100% 0%);
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(109, 109, 109, 0.4);

  transition: 0.3s;
}

.active {
  visibility: visible;
  opacity: 1;
  clip-path: inset(0% 0% 0% 0%);
}

.menuList li {

  @include transitionMain;

  display: flex;
  flex-shrink: 1;
  column-gap: 10px;
  align-items: center;

  padding: 5px 20px;

  list-style-type: none;

}

.menuList li svg {
  width: 15px;
}