@import 'src/common/style-mixins/mixins';

.menuHeader {
  position: relative;
}

.menuList {
  position: fixed;
  z-index: 10;
  top: 70px;
  right: 20px;

  width: max-content;
  padding: 8px 0;

  background-color: var(--color-background-base);
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(109, 109, 109, 0.4);

  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: translate3d(3000px, 0, 0);

    opacity: 0;
  }
  60% {
    transform: translate3d(-25px, 0, 0);

    opacity: 1;
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}

.background {
  position: fixed;
  z-index: 5;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.menuList li {

  @include transitionMain;

  padding: 5px 20px;

  list-style-type: none;
}

.menuList li svg {
  width: 15px;
}

@mixin linkBase {

  @include title(600);

  display: flex;
  column-gap: 8px;
  align-items: center;

  text-decoration: none;
}

.link {

  @include linkBase;

  color: var(--color-on-primary-base);
  
  &:hover {
    color: var(--color-primary-base);
  }
}

.linkActive {

  @include linkBase;

  color: var(--color-primary-base);
}