@import 'src/common/style-mixins/mixins';

.checkbox {
  cursor: pointer;

  width: 18px;
  height: 18px;
  margin-right: 12px;

  vertical-align: middle;

  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid var(--color-primary-base);
  border-radius: 3px;

  appearance: none;

  &:checked {
    background: url('../../assets/img/icons/check-mark.svg') no-repeat 50% 50%;

    appearance: none;
  }

  &:focus {
    border-color: var(--color-primary-base);
  }

  &:disabled {
    cursor: default;
  }
}

.label {
  cursor: pointer;

  display: flex;
  align-items: center;

  width: fit-content;
  height: 20px;
}

.disabled {
  cursor: default;

  opacity: 0.5;
}

.checkboxText {

  @include subtitle(500);
}
