@import 'src/common/style-mixins/mixins';

.title {

  @include headline1;
}

.subtitle {

  @include title;

  text-align: center;
}

.email {
  color: var(--color-primary-base);
}

.button {
  width: 100%;
}
