@import 'src/common/style-mixins/mixins';

.filters {
  display: flex;
  column-gap: 25px;
  align-items: flex-end;

  height: 70px;
}

.skeletonSearchContainer .skeletonSearch,  .skeletonButtonsContainer .skeletonButtons, .skeletonSortPacksContainer .skeletonSortPacks, .skeletonResetFiltersContainer .skeletonResetFilters {

  @include skeletonBase;

  height: 42px;
}

.skeletonSearchContainer .skeletonSearch {
  width: 453px;
}

.skeletonButtonsContainer .skeletonButtons {
  width: 170px;
}

.skeletonSortPacksContainer .skeletonSortPacks {
  width: 240px;
}

.skeletonResetFiltersContainer .skeletonResetFilters {
  width: 42px;
}

.scrollBtn {

  @include transitionMain;

  position: fixed;
  right: 10%;
  bottom: 10%;

  width: 50px;
  height: 50px;
  padding-top: 4px;

  background-color: var(--color-background-dark-400);
  border-radius: 50%;
  box-shadow: 0 0 10px 1px var(--color-on-primary-light-400);

  &:hover {
    background-color: var(--color-background-dark-500);
  }
}