@import '../../common/style-mixins/fonts-mixins';

.inputContainer {
  position: relative;

  width: 100%;
}

.input {

  @include title(500);

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  min-height: 20px;
  padding: 12px;

  color: var(--color-on-primary-light-400);

  background: var(--color-background-dark-400);
  border: none;
  border-radius: 10px;
  outline: none;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-on-primary-light-500);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-background-dark-400) inset;

    -webkit-text-fill-color: var(--color-on-primary-light-400) !important;
  }
}

.label {

  @include subtitle(600);

  display: block;

  margin: 0;
  padding-bottom: 10px;

  color: var(--color-on-primary-light-400);
  text-align: start;
}

@mixin positionAbsolute() {
  position: absolute;
  right: 0;
  bottom: 29px;
}

.errorContainer {
  width: 100%;
  height: 20px;
}

.error {

  @include subtitle(500);

  margin: 0;
  padding: 6px 0;

  color: var(--color-warn-base);
  text-align: start;
}

.visibilityIcon {

  @include positionAbsolute;

  cursor: pointer;

  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.password {
  padding-right: 42px;
}

.saveButton {
  position: absolute;
  right: 5px;
  bottom: 3px;

  padding: 8px 12px;

  font-size: 12px;
  font-weight: 400;
  line-height: 100%;

  border-radius: 10px;
}

.search {
  &::placeholder {
    padding-left: 20px;

    background: url('../../assets/img/icons/search.svg') no-repeat 0 50%;
  }
}

.story {
  width: 200px;
}
