@import 'src/common/style-mixins/mixins';

.packsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-start;

  padding: 40px 0;
}


.skeletonPackContainer .skeletonPack {

  @include skeletonBase;

  width: 300px ;
  height: 194px;
}
