@import 'src/common/style-mixins/mixins';

.msgContainer {

  @include boxBorder();

  cursor: default;

  position: fixed;
  z-index: 100;
  bottom: 30px;
  left: 30px;

  display: flex;
  flex-shrink: 1;
  column-gap: 15px;
  align-items: center;

  width: fit-content;
  padding: 15px;

  color: var(--color-background-base);

  background: var(--color-warn-base);
  border-radius: 4px;
}

.successMsg {
  background: var(--color-success-base);
}

.text {

  @include subtitle();
}

.close {
  cursor: pointer;

  align-self: flex-start;

  width: 14px;
  height: 14px;
  padding: 0 6px 6px 6px;
}
