@import 'src/common/style-mixins/mixins';

.errorContainer {
  display: flex;
  column-gap: var(--margin-xl);
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 80vh;
  padding: var(--margin-l) var(--margin-l);

  @media (max-width: 600px) {
   flex-direction: column;
    row-gap: var(--margin-l);
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap:  var(--margin-m);
  align-items: center;

  @media (max-width: 600px) {
    order: 2;
  }
}

.button {
  padding: 9px 18px;

  font-size: 16px;
}

.title {
  margin: 0;

  font-size: 50px;
  font-weight: 600;

  @media (max-width: 650px) {
    font-size: 40px;
  }
}

.subtitle {

  @include title(500);
}

.errorImgContainer {

  @media (max-width: 600px) {
    order: 1;
  }
}

.errorImg {
  width: 100%;
}