@import 'src/common/style-mixins/mixins';

.errorContainer {
  display: flex;
  column-gap: var(--margin-xl);
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap:  var(--margin-m);
  align-items: center;
}

.title {
  margin: 0;

  font-size: 50px;
  font-weight: 600;
}

.subtitle {

  @include title(500);

}
