@import 'src/common/style-mixins/mixins';

.packsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;

  min-height: 434px;
  padding: var(--margin-l) 0;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2,  1fr);
    row-gap: var(--margin-l);
    column-gap: 10%;
  }

  @media (max-width: 720px) {
    row-gap: var(--margin-l);
    column-gap: var(--margin-l);
  }

  @media (max-width: 520px) {
    gap: var(--margin-m);
  }

  @media (max-width: 420px) {
    grid-template-columns: 1fr;
  }
}

.skeletonPackContainer .skeletonPack, .skeletonPackContainer {

  @include skeletonBase;

  width: 100%;
  height: 200px;
}

.addPack {

  @include boxBorder;

  @include transitionMain;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 194px;

  background-color: var(--color-secondary-base-transparent);

  &:active {
   transform: scale(1.1);
  }

  &:hover {
   cursor: pointer;

   background-color:var(--color-secondary-base);
 }
}
