@import "src/common/style-mixins/mixins";

.button {
  flex-shrink: 0;

  width: 42px;
  height: 42px;

  border-radius: 10px;
}

.tooltip {
  position: relative;
  &::after {

    @include tooltipAfter(50px, -64px);

    border-radius: 8px 8px 0 8px;
    box-shadow: -1px 0 5px 1px var(--color-on-primary-light-400);
  }

  &:hover::after {

    @include tooltipHover;
  }
}