@import "src/common/style-mixins/mixins";

.button {
  flex-shrink: 0;

  width: 42px;
  height: 42px;

  border-radius: 10px;
}

.tooltip {
  position: relative;
  &::after {

    @include tooltipAfter(47px, 7px);
  }

  &:hover::after {

    @include tooltipHover;
  }
}