@import 'src/common/style-mixins/mixins';

.learnCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.link {
  align-self: flex-start;

  margin-bottom: 15px;
}

.title {

  @include headline2;

  align-self: center;

  margin: 16px 0 26px 0;

  color: var(--color-primary-dark-100);
  text-align: center;
}

.skeletonTitleContainer .skeletonTitle, .skeletonSubtitleContainer .skeletonSubtitle {

  @include skeletonBase(4px);

  width: 100%;
  height: 100%;
}

.skeletonTitleContainer {
  width: 440px;
  height: 25px;
  margin: 16px 0 26px 0;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.skeletonSubtitleContainer {
  width: 380px;
  height: 18px;
  margin: 0 auto 0 0;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.box {
  align-items: self-start;

  @media (max-width: 450px) {
    padding: 0;
  }
}

.questionContainer {
  width: 100%;
}

.subtitle, .subtitleImg  {

  @include title(600);

  word-break: break-word;
}

.subtitleImg {
  margin-bottom: 10px;
}

.subtitleQuestion {

  @include title(400);
}

.img {
  width: 100%;

  object-fit: cover;
}

.button {
  width: 100%;
}
.unknownImg {
  width: 40px;
  height: 40px;
}

.unknownContainer{
  display: flex;
  align-items: center;
}