@import 'src/common/style-mixins/mixins';

.container {
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-content: space-between;

  padding: 15px;

  background-color: var(--color-secondary-base-transparent);
  border-radius: 10px;
}

.icons {
  display: flex;
}

.question {
  width: 100%;
  max-width: 200px;
}

.answerContainer {
  width: 100%;
  max-width: 502px;
}

.answerButton {

  @include title(600);

  @include transitionMain;

  cursor: pointer;

  position: relative;

  width: 100%;
  margin: 0 auto;
  padding: 0;

  color: var(--color-primary-base);

  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    color: var(--color-primary-dark-100);
  }
}

.answerButtonText {
  margin-bottom: 8px;
}

.answer {
  overflow: hidden;
}