.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  margin-top: 20px;


  background-color: var(--color-secondary-base-transparent);
}
.icons {

}

