.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  margin-top: 20px;


  background-color: var(--color-secondary-base-transparent);
}
.icons {

}

.card {
  margin-bottom: 5px;
  padding: 15px;

  border: 1px solid red;
  border-radius: 10px;
}
.span {
  margin-right: 50px;
  margin-left: 150px;
}