@import 'src/common/style-mixins/mixins';

.profileBox {
  background-color: var(--color-background-base) ;
}

.avatar {
  width: 120px;
  height: 120px;

  border-radius: 50%;
}

.title {

  @include headline1;

  margin-top: 20px;

  text-align: center;
}

.name {

  @include headline3;

  max-width: 90%;

  word-wrap: break-word;
}

.skeletonNameContainer .skeletonName {
  width:300px;
  height: 30px;
}

.skeletonNameContainer .skeletonName, .skeletonAvatarContainer .skeletonAvatar{

 @include skeletonBase;
}

.email {

  @include subtitle;

  color: var(--color-on-primary-light-400);
}

.skeletonAvatarContainer .skeletonAvatar {
  width: 120px;
  height:120px;

  border-radius: 50%;
}

.nameContainer {
  display: flex;
  column-gap: 5px;
  align-items: center;

  max-width: 100%;
}

.btnTextContainer {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center
}

.logout {
  position: relative;

  width: 100%;

  @media (max-width: 720px) {
    display: none;
  }
}
