@import 'src/common/style-mixins/mixins';

.avatar {
  width: 120px;
  height: 120px;

  border-radius: 50%;
}

.title {

  @include headline1();
}

.name {

  @include headline3();
}

.email {

  @include subtitle;

  color: var(--color-on-primary-light-400);
}

.btnTextContainer,
.nameContainer {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.logout {
  position: relative;

  width: 127px;
}
