@import 'src/common/style-mixins/mixins';

.menuList {
  content: '';

  position: absolute;
  z-index: 10;
  top: 44px;
  right: 6px;

  width: max-content;
  padding: 8px 0;

  background-color: var(--color-background-base);
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px rgb(0 0 0 / 15%), inset -2px -2px 0px rgb(0 0 0 / 15%);
}

.menuList li {

  @include transitionMain;

  display: flex;
  flex-shrink: 1;
  column-gap: 10px;
  align-items: center;

  padding: 5px 20px;

  list-style-type: none;

  &:hover {
    cursor: pointer;

    background-color: var(--color-background-dark-500);
  }
}

.menuList li svg {
  width: 15px;
}