@import 'src/common/style-mixins/mixins';

.container {
  margin: var(--margin-l) 0;
}

.form {

  @include form;
}

.title {

  @include headline1;
}

.navigateContainer {

  @include navigateContainer;
}

.subtitle {

  @include title(600);

  margin: 0 0 10px 0;

  color: var(--color-on-primary-light-400);
}
