@import '../../../../common/style-mixins/fonts-mixins';

.text {
  line-height: 28px;
  text-align: center;
}

.textEmail {
  display: block;

  color: var(--color-primary-base);
}

.title {

  @include headline1;
}