.linearProgress {
  position: fixed;
  z-index: 10;

  width: 100%;
}

.linearProgressPrivatePage {
  position: absolute;
  top: 64px;
}


.linearProgress .progressBar {
  top: 0;

  background: var(--color-secondary-base);
}

.linearProgress .progress {
  background: var(--color-primary-base);
}
