@import 'src/common/style-mixins/mixins';

.container {
  margin: var(--margin-xl) 0;
}

.form {

  @include form;
}

.title {

  @include headline1;
}

.link {
  align-self: flex-end;
}

.navigateContainer {

  @include navigateContainer;
}

.subtitle {

  @include title(600);

  margin: 0 0 var(--margin-s) 0;

  color: var(--color-on-primary-light-400);
}
