@import 'src/common/style-mixins/mixins';

.container {
  margin: var(--margin-xl) 0;
}

.form {

  @include form;
}

.title {

  @include headline1;
}

.link {
  align-self: flex-end;
}

.navigateContainer {

  @include navigateContainer;
}

.subtitle {

  @include title(600);

  margin: 0 0 var(--margin-s) 0;

  color: var(--color-on-primary-light-400);
}

.demoAcc {

  @include title(600);

  cursor: pointer;

  width: fit-content;
  margin: 0 auto;

  color: var(--color-primary-base);

  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    color: var(--color-on-primary-base);
  }
}