@import 'src/common/style-mixins/mixins';

.container {
  position: relative;

  margin: var(--margin-xl) 0;
}

.form {

  @include form;
}

.title {

  @include headline1;
}

.link {
  align-self: flex-end;
}

.navigateContainer {

  @include navigateContainer;
}

.subtitle {

  @include title(600);

  margin: 0 0 var(--margin-s) 0;

  color: var(--color-on-primary-light-400);
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: var(--margin-m);
  align-items: center;

  @media (max-width: 370px) {
    column-gap: var(--margin-s);
  }
}

.buttonsContainer button {

  @media (max-width: 370px) {
    padding: 8px 10px;

    font-size: 15px;
  }
}

.note {

  @include note;
}