@import "src/common/style-mixins/mixins";

.pack {

  @include subtitle;

  @include boxBorder;

  position: relative;

  display: grid;
  grid-template-rows: 24px 22px 22px;
  gap: 12px;
  align-items: center;

  box-sizing: border-box;
  width: 300px;
  height: 194px;
  padding: 20px 15px 15px 15px;

  line-height: 1.25;

  background-color: var(--color-secondary-base-transparent);
}

.lockTooltip {
  position: absolute;
  top: 10px;
  right: 12px;

  &::after {

    @include tooltipAfter(24px,14px);

    white-space: nowrap;
  }

  &:hover::after {

    @include tooltipHover;
  }
}

.nameTooltip {
  overflow: hidden;

  &::after {

    @include tooltipAfter(178px,214px);
  }

  &:hover::after {

    @include tooltipHover;
  }
}

.pack p {
  overflow: hidden;

  max-height: 100%;
}

.privateValue {
  position: relative;

  &:after {
    content: '';

    position: absolute;
    top: 0;
    right: 15px;

    width: 15px;
    height: 20px;

    background-color: var(--color-primary-base);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.name {

  @include headline3(600);

  overflow: hidden;

  padding: 0 16px;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.cardsTooltip {
  &::after {

    @include tooltipAfter(65px, 62px)
  }
}

.learnTooltip {
  &::after {

    @include tooltipAfter(65px, 134px)
  }
}

.editTooltip {
  &::after {

    @include tooltipAfter(65px, 206px);
  }
}

.deleteTooltip {
  &::after {

    @include tooltipAfter(65px, 278px);
  }
}

.cardsTooltip, .deleteTooltip, .editTooltip, .learnTooltip, :hover::after {

  @include tooltipHover();

  white-space: nowrap;
  
}

.subtitle {

  @include subtitle(500);

  color: var(--color-primary-base);
}

.btnContainer {
  display: flex;
  column-gap: 12px;
}