@import "src/common/style-mixins/mixins";

.pack {

  @include pack;

  padding-top: 22px;

  @media (max-width: 1000px) {
    padding-top: 22px;
  }
}

.lock {

  @media (max-width: 700px) {
    width: 14px;
  }

  @media (max-width: 500px) {
    width: 12px;
  }
}

.lockTooltip {
  cursor: help;

  position: absolute;
  top: 10px;
  right: 12px;

  &::after {

    @include tooltipAfter(27px, -118px);

    border-radius: 8px 8px 0 8px;
    box-shadow: -1px 0 5px 1px var(--color-on-primary-light-400);
  }

  &:hover::after {

    @include tooltipHover;
  }
}

.name {

  @include headline3(600);

  overflow: hidden;

  padding: 0 20px;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.nameTooltip {
  overflow: hidden;

  &::after {

    @include tooltipAfter(185px, 38px);
  }

  &:hover::after {

    @include tooltipHover;
  }
}

.pack p {
  overflow: hidden;

  max-height: 100%;
}

.btnContainer {
  display: flex;
  column-gap: 12px;

  @media (max-width: 500px){
    column-gap: 8px;
  }

  @media (max-width: 420px){
    height: 32px;
  }
}

.cardsTooltip, .deleteTooltip, .editTooltip, .learnTooltip {
  width: 25%;
}

.cardsTooltip {
  &::after {

    @include tooltipAfter(68px, 45px)
  }
}

.learnTooltip {
  &::after {

    @include tooltipAfter(68px, 114px)
  }
}

.editTooltip {
  &::after {

    @include tooltipAfter(68px, 184px);
  }
}

.deleteTooltip {
  &::after {

    @include tooltipAfter(68px, 173px);

    border-radius: 8px 8px 0 8px;
    box-shadow: -1px 0 5px 1px var(--color-on-primary-light-400);
  }
}

.cardsTooltip, .deleteTooltip, .editTooltip, .learnTooltip, :hover::after {

  @include tooltipHover();
}

.subtitle {

  @include subtitle(500);

  color: var(--color-primary-base);
}

.icon {
  width: 18px;

  @media (max-width: 600px) {
    width: 16px;
  }
}