@import 'src/common/style-mixins/mixins';

.skeletonMyCardsContainer .skeletonMyCards, .skeletonOtherCardsContainer .skeletonOtherCards {

  @include skeletonBase;

  height: 42px;
}

.skeletonMyCardsContainer .skeletonMyCards {
  width: 58px;

  border-radius: 30px;
}

.skeletonOtherCardsContainer .skeletonOtherCards {
  width: 168.5px;
}

.skeletonMyCardsContainer {
  width: 100%;
}

.buttonsContainer {
  position: relative;

  display: flex;
  column-gap: 10px;
  align-items: center;
}

.otherPackLearnBtn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 42px;
}

.learnIcon {
  width: 18px;
  height: 19px;
}

.myPackBtn {
  width: 25%;
  height: 42px;
}

.myPackLearnBtn {
  padding: 21px 21px;

  background: var(--color-secondary-base);

  &:hover {
    background: var(--color-secondary-dark);
  }
}
.addTooltip {
  &::after {

    @include tooltipAfter(45px, 45px)
  }
}

.learnTooltip {
  &::after {

    @include tooltipAfter(45px, 115px)
  }
}

.editTooltip {
  &::after {

    @include tooltipAfter(45px, 182px);
  }
}

.deleteTooltip {
  &::after {

    @include tooltipAfter(45px, 250px);
  }
}
.addTooltip,.learnTooltip,.editTooltip,.deleteTooltip,:hover::after {

  @include tooltipHover();
}