@import 'src/common/style-mixins/mixins';

.skeletonMyCardsContainer .skeletonMyCards, .skeletonOtherCardsContainer .skeletonOtherCards {

  @include skeletonBase;

  width: 202px;
  height: 42px;
}

.skeletonOtherCardsContainer .skeletonOtherCards, .skeletonOtherCardsContainer .skeletonOtherCards2  {
  width: 202px;
}

.skeletonMyCardsContainer {
  width: 100%;
}

.button {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 100%;

  font-weight: 600;

  border-radius: 10px;
}
