.appDefault {
  overflow: hidden;

  width: 100%;
  height: 100%;

  background: var(--color-background-base);
}

.appSecondary {
  background: var(--color-background-dark-100);

  @media (max-width: 720px) {
    background: var(--color-background-base);
  }
}
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100vw;
  min-height: 100vh;
}

.loaderContainer .circular {
  color: var(--color-primary-base);
}