@import '../../../../common/style-mixins/mixins';

.skeletonMyCardsContainer .skeletonMyCards, .skeletonOtherCardsContainer .skeletonOtherCards {

  @include skeletonBase;

  height: 42px;
}

.skeletonMyCardsContainer .skeletonMyCards {
  width: 58px;

  border-radius: 30px;
}

.skeletonOtherCardsContainer .skeletonOtherCards {
  width: 168.5px;
}

.skeletonMyCardsContainer {
  width: 100%;
}


.otherPackLearnBtn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 42px;
}

.learnIcon {
  width: 18px;
  height: 19px;
}

.myPackBtn {
  grid-row: 2;

  height: 42px;
}

.myPackLearnBtn {
  height: 42px;

  background: var(--color-secondary-base);

  &:hover {
    background: var(--color-secondary-dark);
  }
}

.addTooltip {
  &::after {

    @include tooltipAfter(570px, 86px)
  }


}

.learnTooltip {
  grid-row: 2;


  &::after {

    @include tooltipAfter(570px, 156px)
  }


}


.addTooltip, .learnTooltip, :hover::after {

  @include tooltipHover();


}


.addBtn {
  grid-column: 1;
  grid-row: 2;

  @media (max-width: 800px) {
    padding: 8px 0;
  }

  @media (max-width: 520px) {
    max-height: 37px;
    padding: 6px 0;
  }


}

.learnBtn {
  grid-column: 2;
  grid-row: 2;

  width: 60px;

  @media (max-width: 520px) {
    max-height: 37px;

  }
}
.buttonsContainer {
  display: flex;
  justify-content: space-between;
}