@import 'src/common/style-mixins/mixins';

.buttonsContainer {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  height: 42px;

  @media (max-width: 800px) {
    column-gap: 0;

    height: 20px;
    margin-left: 6px;
  }
}

.btnIcon {
  width: 18px;

  @media (max-width: 800px) {
    width: 16px;
    height: 20px;
  }

  @media (max-width: 420px) {
    width: 14px;
  }

  @media (max-width: 340px) {
    height: 15px;
  }
}

@mixin btn() {
  width: 60px;
  height: 42px;

  @media (max-width: 800px) {
    width: 30px;
    height: 20px;
    padding: 0;

    background: transparent;
    &:hover {
      background-color: var(--color-background-dark-400);
    }
  }
}

.skeletonPackButtonsContainer .skeletonPackButtons {
  width: 60px;
  height: 100%;

  border-radius: 30px;

  @media (max-width: 800px) {
    display: none;
  }
}

.skeletonPackButtonsContainer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 800px) {
    display: none;
  }

}

.editTooltip, .deleteTooltip {

  @include btn;

  @media (max-width: 420px) {
    width: 20px;
  }

}

.editTooltip {

  &::after {

    @include tooltipAfter(44px, 44px);
  }
}

.deleteTooltip {

  &::after {

    @include tooltipAfter(44px, 115px);
  }
}

.editTooltip, .deleteTooltip, :hover::after {

  @include tooltipHover();
}

