@import 'src/common/style-mixins/mixins';

.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;

  height: 42px;

  @media (max-width: 800px) {
    column-gap: 0;

    height: 20px;
    margin-left: 6px;
  }
}

.btnIcon {
  width: 18px;

  @media (max-width: 800px) {
    width: 16px;
  }

  @media (max-width: 420px) {
    width: 14px;
  }
}

@mixin btn() {
  width: 60px;
  height: 42px;

  @media (max-width:800px) {
    width: 30px;
    height: 20px;
    padding: 0;

    background: transparent;
    &:hover {
      background-color: var(--color-background-dark-400);
    }
  }
}

.editTooltip, .deleteTooltip {

  @include btn;
}

.editTooltip {

  &::after {

    @include tooltipAfter(570px, 226px);
  }
}

.deleteTooltip {
  
  &::after {

    @include tooltipAfter(570px, 296px);
  }
}

.editTooltip, .deleteTooltip, :hover::after {

  @include tooltipHover();
}

