@import 'src/common/style-mixins/mixins';

.profilePage {

  @include page;

  background: var(--color-background-dark-100);
}

.contentContainer {

  @include pageContainer;

  display: flex;
  flex-direction: column;
  row-gap: var(--margin-xl);
  align-items: center;
  justify-content: center;
}

.link {

  @include title(600);

  align-self: self-start;

  color: var(--color-on-primary-base);

  background: transparent;
  border:none;

  &:hover {
    color: var(--color-primary-base);
  }
}