.app {
  background: var(--color-background-dark-100);
}

.contentContainer {
  max-width: var(--width-main);
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.circular {
  position: absolute;
  top: 50%;
  left: 50%;
}
