@import 'src/common/style-mixins/mixins';

.subtitle {

  @include title(400);

  word-break: break-word;
}

.answer, .rate {

  @include title(600);
}

.rate {
  margin-bottom: 10px;
}

.button {
  width: 100%;
}

.radio {
  label {

    @media (max-width: 600px) {
      height: 36px;
    }
  }

  label span {
    font-size: 16px;

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }
}