@import 'src/common/style-mixins/mixins';

.link {

  @include title(600);

  display: inline-block;

  width: fit-content;
  margin: 0;

  color: inherit;
  text-decoration: none;

  transition: all 0.3s linear;

  &:hover {
    color: var(--color-primary-base);
  }
}

.primary {

  @include title(600);

  color: var(--color-primary-base);
  text-decoration: underline;

  &:hover {
    color: var(--color-on-primary-base);
    text-decoration: none;
  }
}
