@mixin headline1() {
  margin: 0;

  font-size: 28px;
  font-weight: 600;
}

@mixin headline2() {
  margin: 0;

  font-size: 22px;
  font-weight: 600;
}

@mixin headline3() {
  margin: 0;

  font-size: 18px;
  font-weight: 500;
}

@mixin title($fontWeight: 400, $opacity: 1) {
  margin: 0;

  font-size: 16px;
  font-weight: $fontWeight;

  opacity: $opacity;
}

@mixin subtitle($fontWeight: 400, $opacity: 1) {
  margin: 0;

  font-size: 14px;
  font-weight: $fontWeight;

  opacity: $opacity;
}

@mixin body() {
  margin: 0;

  font-size: 13px;
  font-weight: 400;
}

@mixin label2() {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
}

@mixin label2() {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
}

@mixin navigateLink() {
  @include subtitle(500);

  display: flex;
  column-gap: 12px;
  align-items: center;
  align-self: flex-start;

  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--color-on-primary-base);
  }
}

@mixin boxBorder() {
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

@mixin authPageContainer() {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 100vh;
}

@mixin form() {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  width: 100%;
}

@mixin navigateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
