//-------text-------

@mixin headline1() {
  margin: 0;

  font-size: 28px;
  font-weight: 600;

  @media (max-width: 600px) {
    font-size: 26px;
  }

  @media (max-width: 420px) {
    font-size: 22px;
  }

  @media (max-width: 340px) {
    font-size: 20px;
  }
}

@mixin headline2() {
  margin: 0;

  font-size: 22px;
  font-weight: 600;

  @media (max-width: 600px) {
    font-size: 20px;
  }

  @media (max-width: 420px) {
    font-size: 18px;
  }

  @media (max-width: 340px) {
    font-size: 16px;
  }
}

@mixin headline3($fontWeight: 500,) {
  margin: 0;

  font-size: 18px;
  font-weight: $fontWeight;

  @media (max-width: 600px) {
    font-size: 16px;
  }

  @media (max-width: 520px) {
    font-size: 14px;
  }
}

@mixin title($fontWeight: 400, $opacity: 1) {
  margin: 0;

  font-size: 16px;
  font-weight: $fontWeight;

  opacity: $opacity;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

@mixin subtitle($fontWeight: 400, $opacity: 1) {
  margin: 0;

  font-size: 14px;
  font-weight: $fontWeight;

  opacity: $opacity;
}

//-------container-------

@mixin page() {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
}

@mixin pageContainer() {
  box-sizing: border-box;
  max-width: var(--width-main);
  margin: 0 auto;
  padding: var(--margin-l) var(--margin-l);
}

@mixin navigateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin boxBorder() {
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

@mixin form() {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  width: 100%;
}

@mixin pack() {

  @include subtitle;

  @include boxBorder;

  position: relative;

  display: grid;
  grid-template-rows: auto repeat(3, 1fr) auto;
  gap: 12px;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 15px 15px 17px 15px;

  background-color: var(--color-secondary-base-transparent);

  @media (max-width: 1000px) {
    padding: 16px 10px 12px 10px;
  }

  @media (max-width: 600px) {
    height: 160px;
    padding: 14px 8px 10px 8px;
  }

  @media (max-width: 520px) {
    gap:0;
  }

  @media (max-width: 420px) {
    gap:6px;
  }
}

//-------other-------

@mixin transitionMain() {
  transition: 0.3s ease-in;
}

@mixin skeletonBase($border-radius: 10px) {
  background-color: var(--color-background-dark-400);
  border-radius: $border-radius;

  &:after {
    background: linear-gradient( 90deg, transparent, var(--color-on-primary-light-transparent), transparent );
  }
}

@mixin tooltipAfter($bottom, $left) {
  content: attr(data-tooltip);

  position: absolute;
  z-index: 20;
  bottom: $bottom;
  left: $left;

  padding: 4px 7px;

  font-size: 13px;
  color: var(--color-on-primary-base);
  white-space: nowrap;

  visibility: hidden;
  opacity: 0;
  background-color: var(--color-background-dark-400);
  border-radius: 8px 8px 8px 0;
  box-shadow: 1px 0 5px 1px var(--color-on-primary-light-400);

  transition: all 0.3s ease-in-out;

  @media (max-width: 1020px) {
    display: none;
  }
}

@mixin tooltipHover() {
  visibility: visible;
  opacity: 1;
}