@import 'normalize.css';

@import 'assets/fonts/fonts.scss';

:root {
  /* Colors */
  --color-background-base: #ffffff;
  --color-background-dark-100: #f9f8f8;
  --color-background-dark-400: #f0efed;
  --color-background-dark-500: #e0ddda;

  --color-primary-base: #017c6e;
  --color-primary-base-transparent: #017c6e42;
  --color-primary-dark-100: #01695d;

  --color-secondary-base: #d8eede;

  --color-warn-base: #d30413;
  --color-warn-dark-100: #be0613;

  --color-on-primary-base: #000000;
  --color-on-primary-light-400: #676665;
  --color-on-primary-light-500: #969593;

  --color-success-base: #339536;

  /* Sizes */
  --width-main: 1020px;
  --width-box-l: 500px;

  --margin-l: 50px;
  --margin-m: 20px;
}

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
