@import 'src/common/style-mixins/mixins';

.container {
  display:grid;
  grid-template-columns: 5fr 9.3fr 2fr 3fr 2.7fr;
  column-gap: 16px;
  align-items: center;

  padding: 14px;

  background-color: var(--color-secondary-base-transparent);
  border-radius: 15px;

  @media (max-width: 420px) {
    row-gap: 10px;
  }

  @media (max-width: 920px) {
    column-gap: 12px;

    font-size: 14px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    row-gap: 16px;

    padding: 24px 24px 20px 24px;
  }

  @media (max-width: 500px) {
    row-gap: 10px;

    padding: 16px 14px  14px  14px;
  }
}

.imgContainer {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.img {
  width: 100%;
  max-height: 160px;

  object-fit: contain;

  @media (max-width: 800px) {
    margin-top: 10px;
  }
}

.imgIcon {
  width: fit-content;
  height: 40px;

  @media (max-width: 500px) {
    height: 30px;
  }
}

.questionText, .answerText {

  @include title;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  white-space: break-spaces;
}

.question, .answerContainer, .answerContainerMyCards {
  overflow: hidden;

  width: 100%;

  word-wrap: break-word;
}

.answerContainerMyCards  {

 @media (max-width: 800px) {
   display: flex;
   flex-direction: column;
 }
}

.question, .answer  {

  @media (max-width: 800px) {
    align-self: start;
  }
}

.answerButton {

  @include transitionMain;

  cursor: pointer;

  position: relative;

  width: 100%;
  margin: 0 auto;
  padding: 0;

  font-size: 16px;
  font-weight: 600 ;
  color: var(--color-primary-base);

  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    color: var(--color-primary-dark-100);
  }

  @media (max-width: 800px) {
    display: flex;
  }
}

.answer {
  overflow: hidden;

  text-align: justify;

  @media (max-width: 800px) {
    align-self: flex-start;
  }
}

.answerCenter {
  overflow: hidden;

  text-align: center;

  @media (max-width: 800px) {
    align-self: flex-start;

    text-align: start;
  }
}

.answerButtonText {
  margin-bottom: 8px;

  @media (max-width: 800px) {
    align-self: flex-start;

    margin-bottom: 0;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.actions {
  position: relative;

  display: flex;
  column-gap: 8px;

  width: 100%;
}

.subtitle {
  display: none;

  margin-right: 8px;

  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary-base);

  @media (max-width: 800px) {
    display: inline;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.button {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0 auto;

  @media (max-width: 800px) {
    width: 45%;
  }

  @media (max-width: 500px)  {
    height: 30px;
  }
}

.btnTitle {
  display: none;

  font-size: 16px;
  color: var(--color-background-base);

  @media (max-width: 800px) {
    display: inline;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }

  @media (max-width: 360px) {
    display: none;
  }
}

.btnIcon {
  width: 18px;
  margin-bottom: 4px;

  @media (max-width: 500px) {
    width: 15px;
    margin-bottom: 3px;
  }

  @media (max-width: 360px) {
    width: 17px;
  }
}

.gradeTooltip {
  cursor: help; 

  position: relative;

  display: flex;
  align-items: center;
}

.gradeTooltip::after {

  @include tooltipAfter($bottom: 36px, $left: 36px);

}

.gradeTooltip:hover::after {

  @include tooltipHover;
}

