.uploadPhoto {
  cursor: pointer;

  position: relative;

  &::before {
    content: '';

    position: absolute;
    top: -18px;
    left: -35px;

    width: 32px;
    height: 32px;

    background: url('../../../assets/img/icons/update-photo.svg') no-repeat 52% 48%
      var(--color-background-dark-500);
    border-radius: 50%;

    transition: 0.3s ease-in;
  }

  &:hover::before {
    background-color: var(--color-secondary-base);
  }
}

.input {
  display: none;
}
