@import 'src/common/style-mixins/mixins';

.box {

  @include boxBorder();

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;


  background: var(--color-background-base);

  @media (max-width: 720px) {
    box-shadow: none;
  }
}

.L {
  row-gap: 30px;

  width: var(--width-box-l);
  padding: 50px 40px;
  
  @media (max-width: 720px) {
    row-gap: 15px;

    padding: 20px 30px;
  }

  @media (max-width: 520px) {
     width: 100%;
  }
}

.M {
  overflow: hidden;
  row-gap: 30px;

  width: var(--width-box-m);
  padding: 20px 30px 40px 30px;
}