@import 'src/style-mixins/fonts-mixins';

.box {

  @include boxBorder();

  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;

  width: var(--width-box-l);
  padding: 50px 40px;

  background: var(--color-background-base);
}
