@import 'src/common/style-mixins/mixins';

.box {

  @include boxBorder();

  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;

  box-sizing: border-box;
  width: var(--width-box-l);
  padding: 50px 40px;

  background: var(--color-background-base);
}
