@import 'src/common/style-mixins/mixins';

.form {

  @include form;
}

.headline {

  @include headline1;
}

.navigateContainer {

  @include navigateContainer;
}

.title {

  @include title;

  text-align: center;
}

.subtitle {

  @include title(600);

  margin: 0 0 10px 0;

  color: var(--color-on-primary-light-400);
}
