@import 'src/common/style-mixins/mixins';

.paginatorContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 620px) {
    column-gap: 12px;
  }

  @media (max-width: 420px) {
    column-gap: 4px;
  }
}

.pagination {
  flex-shrink: 0;
}

.paginationUl {
  column-gap: 10px;

  li {

    @include transitionMain;

    border-radius: 4px;
  }

  li:hover {
   background-color: var(--color-background-dark-400);
  }

  @media (max-width: 500px) {
    column-gap: 4px;
  }
}

.selectContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);

  @media (max-width: 340px) {
   display: none;
  }
}

.showPerPage {
  align-self: center;

  margin-right: 11px;
  margin-left: 11px;
  
  @media (max-width: 650px) {
    font-size: 14px;
  }

  @media (max-width: 620px) {
   display: none;
  }
}